[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/best-yield-PYT-strategy"]
	path = lib/best-yield-PYT-strategy
	url = https://github.com/Idle-Finance/best-yield-PYT-strategy
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/Idle-Finance/erc4626-tests
[submodule "lib/universal-rewards-distributor"]
	path = lib/universal-rewards-distributor
	url = https://github.com/morpho-org/universal-rewards-distributor
[submodule "lib/view-quoter-v3"]
	path = lib/view-quoter-v3
	url = https://github.com/Uniswap/view-quoter-v3
