[default]
via_ir = false
src = 'contracts'
out = 'out'
libs = ["node_modules", "lib"]
test = 'test/foundry'
remappings = [
  'ds-test=lib/ds-test/src/',
  'forge-std=lib/forge-std/src/',
  'contracts/=contracts/',
]
optimizer_runs = 15000
fuzz_runs = 1000
fuzz_max_global_rejects = 1000000
fuzz_max_local_rejects = 1000000

[optimized]
solc = '0.8.10'
